<!DOCTYPE html>
<html>
	<head>
		<title>Documents</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.16/angular.min.js"></script>
		<script src="wiki.js"></script>
		<style>
		body {
			padding-top: 70px;
		}
		
		iframe {
			height: 500px;
			width: 100%;
		}
		
		img {
			height: 500px;
			width: 100%;
		}
		</style>
	</head>
	<body ng-app="wiki">
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<span class="navbar-brand">Documents</span>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div id="invoice-counter" ng-controller="InvoiceCounterController">
						<button ng-click="generateInvoiceNumber()" class="btn btn-default">Generate invoice number</button>
						<span>{{invoiceNumber}}</span>
					</div>
					<div>
						<form method="post" action="uploadDocument" enctype="multipart/form-data" class="form-inline">
							<div class="form-group">
								<input type="file" name="document" ng-model="selectedFile"/>
							</div>
							<div class="form-group">
								<input type="submit" value="Upload" class="btn btn-default"/>
							</div>
						</form>
					</div>
					<div ng-controller="DocumentListController">
						<ul ng-if="!versionList">
							<input ng-model="search.name">
							<li ng-repeat="document in documentList | orderBy:'date':true | filter:search">
								<a href="#" ng-click="showVersions(document)">[versions]</a>
								<span class="name">
									<a ng-click="preview(document)" href="#">{{document.shortname}}</a>
								</span>
							</li>
						</ul>
						<div ng-if="versionList">
							<a href="#" ng-click="closeVersions()">back</a>
							<ul>
								<li ng-repeat="version in versionList">
									<a href="#" ng-click="preview(version)">{{version.date}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-8" ng-controller="PreviewController">
					<img ng-if="isImage(doc)" ng-src="document/{{doc.name}}"/>
					<iframe ng-if="isPdf(doc)" ng-src="{{documentUrl}}"></iframe>
				</div>
			</div>
		</div>
	</body>
</html>